repos/dev/packages/**/*.pyc
spacksites/__pycache__/**/*.pyc
.vscode/launch.json
.vscode/settings.json
spacksites/src/__pycache__/spacksite.cpython-38.pyc
spacksites/src/__pycache__/scripts.cpython-38.pyc
spacksites/src/__pycache__/helpers.cpython-38.pyc
spacksites/src/__pycache__/appconfig.cpython-38.pyc
spacksites/src/__pycache__/__init__.cpython-38.pyc
spacksites/process-env-scripts/spd
spd
stack_versions_workflow/spd
stack_versions_workflow/spdr
stack_versions_workflow/spdsper
test/__pycache__/test_pytest.cpython-39-pytest-7.2.0.pyc
spacksites/spack-env-specs/**/modules/**/.spack-env/*
spacksites/spack-env-specs/**/modules/**/spack.lock
spacksites/src/__pycache__/*
spacksites/dev-notes/~$Gen Guide - 27 March 2023.pptx
